*{
    padding: 0;
    margin: 0;
} 
#header{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(to top right,
    rgb(0, 3, 0),
    rgba(0, 136, 68, 0.15)), url('../images/background.png');
    background-size: cover;
    background-position: center;
}
.container{
    background-color: transparent;
    padding: 10px 70px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
nav h1 span{
    background-color: green;
    color: white;
    padding: 2px;
}
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;

 }
 nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20;
    font-weight: bold;
    position: relative;
    transition: 0.5s;
 }

 nav ul li a::after{
    content: "";
    width: 0%;
    height: 4px;
    background: rgb(6, 114, 6);
    left: 0;
    position: absolute;
    bottom: -7;
    transition: 0.5s;
 }
 nav ul li a:hover{
    color: black;
    font-size: 18;
 }
 nav ul li a:hover::after{
    width: 100%;
    transition: 0.5;
    font-size: medium;
 }
 .header-text{
    margin-top: 10%;
 }
 .header-text h2{
    color: rgb(201, 207, 212);
    font-weight: bold;
    font-size: 45px;
 }
 .header-text h2 span{
    color: rgb(1, 94, 1);
    font-weight: bolder;
    font-size: 65px;

 }
 .header-text h3{
    font-weight: bold;
    font-size: 40px;
 }
 .header-text h3 span{
    font-weight: bold;
    font-size: 55px;
    color: rgb(146, 3, 3);
 }
 .header-text h4{
    padding-top: 20px;
    font-weight: bold;
    font-size:20;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(201, 207, 212);
 }


 /* About Section */

 #about{
   background-color: azure;
 }

header h1{
   padding-bottom: 10px;
   color: rgb(65, 66, 18);
   font-family:Arial, Helvetica, sans-serif;
   font-size:40px;
 }
 
 .row{
   padding: 10px;
   display: flex;
   justify-content:space-between;
   flex-wrap: wrap;
 }

 .first-col{
   flex-basis: 35%;
 }

 .second-col{
   flex-basis: 60%;
 }
 
 .about-info h2{
   font-size: 30px;
   padding-top: 5px;
 }

 .about-info p{
   font-size: 20px;
   padding-top: 5px;
 }

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
   background-color: black;
   width: 100%;
   height: 100vh;
   border: 2px solidblack;
   border-radius: 10px;
   perspective: 1000px; /* Remove this if you don't want the 3D effect */
   
}
 
 /* This container is needed to position the front and back side */
 .flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style:preserve-3d;
  
 }
 
 /* Do an horizontal flip when you move the mouse over the flip box container */
 .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
 }
 
 /* Position the front and back side */
 .flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; /* Safari */
   backface-visibility: hidden;
 }
 /* Style the front side */
 .flip-card-front {
   background-image: linear-gradient(to bottom right,
   rgba(0, 3, 0, 0.205),
   rgba(0, 136, 68, 0.15)),url('../images/picture.jpg');
   background-position: center;
   background-size: cover;
   background-color: dodgerblue;
   color: white;
  
   border-radius: 10px;
  
 }
 .flip-card-front:hover {
   transform-style: preserve-3d;
   
   background-image: url('../images/picture.jpg');
 }

 /* Style the back side (fallback if image is missing) */
 .flip-card-back {
   background: linear-gradient(to top right,
   rgba(95, 110, 9, 0.55),
   rgba(65, 88, 12, 0.44)); 
   transform: rotateY(180deg);
   color: white;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .about-info{
   padding-top: 20%;
 }
 .about-info h1{
   font-size: 55px;
 }